@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Oswald', sans-serif; 
    height: 100vh;
    background: linear-gradient(135deg, #000000, #333333);
    animation: noise 0.2s steps(10) infinite;
    background-size: 150% 150%;
    background-attachment: fixed; /* Keep the image fixed during scrolling */
  }
  @keyframes noise {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}
  @keyframes wave {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    
    #chaos-header {
        font-size: 3rem;
        font-weight: 700; 
        letter-spacing: 1.5px; 
        color: #b21af3; 
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
        text-align: center; 
        margin: 30px 0;
    }
    #chaos-header span {
        display: inline-block;
        animation: wave 1s infinite;
    }

    #chaos-header span:nth-child(odd) {
        animation-delay: 0.1s;
    }

    #chaos-header span:nth-child(even) {
        animation-delay: 0.2s;
    }
  
  .navbar {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  
  .icon {
    width: 40px;
    height: 40px;
  }
.nav-item.collided {
    background-color: #f88; /* Change color when colliding */
    transition: background-color 0.3s ease; 
}
.nav-item {
    position: absolute;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 2px solid rgba(221, 221, 221, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 1s ease; /* Smooth gliding effect */
    will-change: transform; /* Optimize for performance */
}
