/* Inverted body style */
@tailwind base;
@tailwind components;
@tailwind utilities;

body.inverted {
    filter: 
        invert(1)
        hue-rotate(180deg)
        saturate(0.5)
        brightness(1.2)
        contrast(2)
        sepia(0);
    opacity: 1; 
}

body.inverted img,
body.inverted video {
    filter: 
        invert(1)
        hue-rotate(180deg)
        saturate(0.3)
        brightness(1.5)
        contrast(2)
        sepia(0);
    opacity: 1; 
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}
/* Comet cursor trail styling */
.trail {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,165,0,1) 0%, rgba(138,43,226,1) 100%);
  pointer-events: none;
  animation: fade 0.5s ease-out forwards;
}

@keyframes fade {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      transform: scale(0.5);
  }
}

body {
  cursor: none; /* Hide the default cursor */
}
