/* Inverted body style */
@tailwind base;
@tailwind components;
@tailwind utilities;

body.inverted {
    filter: 
        invert(1)
        hue-rotate(180deg)
        saturate(0.5)
        brightness(1.2)
        contrast(2)
        sepia(0);
    opacity: 1; 
}

body.inverted img,
body.inverted video {
    filter: 
        invert(1)
        hue-rotate(180deg)
        saturate(0.3)
        brightness(1.5)
        contrast(2)
        sepia(0);
    opacity: 1; 
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2d1950;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(178, 121, 216, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(222, 130, 235, 0.911);
  border-radius: 12px;
}
