/* Contact Form Container */
.contact-form-container {
    background-color: rgba(161, 161, 161, 0.2); 
    padding: 30px; 
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(162, 152, 152, 0.515); 
    width: 100%;
    max-width: 400px;
    border: 2px solid rgba(255, 251, 251, 0.779); 
    position: absolute;
    animation: chaoticMovement 10s infinite alternate ease-in-out;
    transition: transform 0.5s ease-in-out;
    cursor: pointer; /* Makes it clear that the form can be clicked */
}

/* Heading Styles */
h1 {
    text-align: center;
    color: #850dcb; 
    margin-bottom: 25px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

/* Animation for chaotic movement */
@keyframes chaoticMovement {
    0% { 
        top: 10%; 
        left: 10%;
    }
    25% {
        top: 80%;
        left: 20%;
    }
    50% {
        top: 50%;
        left: 70%;
    }
    75% {
        top: 20%;
        left: 50%;
    }
    100% {
        top: 70%;
        left: 80%;
    }
}

/* On hover, make the form move faster */
.contact-form-container:hover {
    animation-duration: 0.5s; /* Moves away faster */
}

/* Input Field Styles */
input, textarea {
    width: 100%;
    padding: 12px 15px; 
    border: none;
    border-radius: 5px;
    background-color: #5b6a73aa; 
    color: #ECEFF1; 
    outline: none;
    transition: background-color 0.3s;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

input:focus, textarea:focus {
    background-color: #455A64; 
}

input::placeholder, textarea::placeholder {
    padding-left: 5px;
    color: #cfd8dc;
}

/* Submit Button */
button {
    width: 100%;
    padding: 12px; 
    border: none;
    border-radius: 5px;
    background-color: #099d1d; 
    color: #ffffff;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0ac419; 
}

/* Responsive Media Query */
@media (max-width: 600px) {
    .contact-form-container {
        padding: 20px;
        width: 90%;
        left: 10px;
        top: 10px;
    }

    h1 {
        font-size: 1.8rem;
    }

    button {
        padding: 10px;
    }
}
